<h2>Waiting for players to join...</h2>

<h3>Joined players</h3>

<% invitees1 = GameInvitee.where(game_id: @game.id, is_joined: true).includes(:user) %>
<ul>
<% invitees1.each do |i| %>
	<li><%= i.user.name %> (<%= i.user.login %>)</li>
<% end %>
</ul>


<h3>Invite pending players</h3>
<% invitees2 = GameInvitee.where(game_id: @game.id, is_joined: false).includes(:user) %>
<ul>
<% invitees2.each do |i| %>
	<li><%= i.user.name %> (<%= i.user.login %>)</li>
<% end %>
</ul>


<h3>Invite a player</h3>

<%=
widget(:item_selector, 'userSelector1')
	.empty_text("Select a user 1")
	.render
%>
<%=
widget(:item_selector, 'userSelector2')
	.empty_text("Select a user 2")
	.render
%>
<%=
widget(:item_selector, 'userSelector3')
	.empty_text("Select a user 3")
	.render
%>
<%=
widget(:item_selector, 'userSelector4')
	.empty_text("Select a user 4")
	.render
%>