<!DOCTYPE html>
<html>
<head>
  <title>Resistance</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
    <% if current_user %>
    	<%= link_to "My Account", account_path %>
    	<%= link_to "Log Out", logout_path, :method => :post %>
    <% else %>
    	<%= link_to "Register", new_user_path %> | 
    	<%= link_to "Log In", login_path %>
    <% end %>
  </div>

<%= yield %>
<% widget_framework.finish_widgets %>

<%= widget_framework.all_required_widgets_style self %>
<%= widget_framework.all_required_widgets_js self %>
<%= javascript_tag do %>
  <%= raw(render :partial => "widgets/widget") %>
<% end %>
</body>
</html>
